<html>
<head>
<link rel='stylesheet' href='component/header/header.css'/><title>用户</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="format-detection" content="telephone=no" />
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<meta name="description" content="Reader">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="x-dns-prefetch-control" content="on" />
<meta http-equiv="Expires" content="0">
<meta name="keywords" content="前端,互联网,科技,安全,RSS">
<link rel="icon" href="imgs/icon_32.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="imgs/icon.png">
<link rel=dns-prefetch href="http://www.xicer.com" >
<link rel=dns-prefetch href="http://www.xicer.com" >
<link rel="stylesheet" href="css/zui.css?v=1544786194807" ><!--_HEAD_CONTAINER_-->
</head>
<body>
<div id='eDox-container'><!--_BODY_CONTAINER_--></div>
</body>
<script  type="text/javascript" src="js/common.js?v=1544786194807"></script>
<script  type="text/javascript" src="js/vue.js?v=1544786194807"></script>
<script  type="text/javascript" src="js/vue-router.js?v=1544786194807"></script>
<script  type="text/javascript" src="js/router.js?v=1544786194807"></script>
<script  type="text/javascript" src="js/component.js?v=1544786194807"></script>
<script  type="text/javascript" src="js/rss-parser.js?v=1544786194807"></script>
<script  type="text/javascript" src="js/axios.js?v=1544786194807"></script><!--_FOOT_CONTAINER_--><script type='text/javascript' src='component/header/header.js'></script>
<script type='text/template' id='header-template'>
<div>
    <div class="edox-header">
        {{title}}
        <label v-on:click="hideMenu" v-if="showMenu" class="edox-menu">★★★★★</label>
        <label v-on:click="openMenu" v-if="!showMenu" class="edox-menu">☆☆☆☆☆</label>
    </div>
    <div class="edox-slide-menu" v-if="showMenu">
        <div class="edox-menu-title"> ※ 菜单栏～</div>
        <ul class="edox-menu-list">
            <li class="edox-menu-item" v-for="m in menuList">{{m}}</li>
        </ul>
    </div>
</div>


</script>
</html>