.loginForm{
  background: #ececec;
  padding:20px;
  border-radius: 5px;
  width:200px;
  min-height: 40px;
  height: auto;
  margin:100px auto;
  .login-btn{
    position: relative;
    width:60px;
    height: auto;
    text-align: center;
    margin:10px auto;
  }
  .login-label{
    display: inline-block;
    font-size:16px;
    padding:5px 0;
    color:#333;
  }
}