<div id="mainPage">
    <div class="notice-tips">
        温馨提示：请准确填写另类的使用Vue基本信息，添加60天后自动生效
    </div>
    <div class="pass-info">
        <section class="flex-box" style="border:0;">
            <div class="flex1">
                昵称
            </div>
            <div class="flex4">

                    <input type="text" placeholder="请输入昵称"/>

            </div>
        </section>
        <section class="flex-box">
            <div class="flex1">
                证明类型
            </div>
            <div class="flex4">
                    <input  type="text" v-bind:value="cardType" readonly placeholder="请选择类型" />
                    <select id="cardType" v-model="selected"  v-on:change="showSelect">
                        <option v-for="op in options" v-bind:value="op">{{op.text}}</option>
                    </select>
                    <em class="arrow-bottom"></em>
            </div>
        </section>
        <section class="flex-box">
            <div class="flex1">
                唯一编号
            </div>
            <div class="flex4">
                    <input type="text" placeholder="请输入唯一编号"/>
            </div>
        </section>
        <section class="flex-box" style="border:0">
            <div class="flex1">
                QQ号码
            </div>
            <div class="flex4">
                    <input type="tel" placeholder="请输入QQ号码"/>
            </div>
        </section>

        <div class="fixed-bar" v-on:click="confirmAdd">
            确认添加
        </div>
    </div>

</div>