@charset "UTF-8";
* {
    font-family: Arial;
    user-select: text;
    -webkit-user-select: text;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-size:14px;
}

.api {
    height: 100vh;
    background: rgba(66, 66, 66, 0.8);
    color: #fff;
}

.title {
    width: 100%;
    background: rgba(66, 66, 66, 0.5);
    color: #fff;
}

.menu {
    margin: 20px auto;
    width: 100%;
    background: rgba(66, 66, 66, 0.5);
    height: 400px;
    padding: 15px;
    color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border:1px solid #dedede;
    border-radius:3px;
}

.swiper-container {
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.swiper-wrapper {
    height: auto;
    position: relative;
}

.swiper-slide {
    height: auto;
    position: relative;
}
.swiper-scrollbar-drag {
    background: rgba(223,22,22,.5);
}
.edit {
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.preview {
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(42, 42, 42, 0.5);
}
.preview h4 {
    margin:10px auto 20px auto;
    width: 100%;
    font-size: 16px;
}
.preview pre {
    text-align: left;
    width: 100%;
    white-space: pre-line;
    background: rgba(222, 222, 222, 0.6);
    color: green;
    line-height: 18px;
    word-spacing: 5px;
    margin: 10px auto;
    border: 1px solid #dedede;
}

.preview p {
    margin:10px auto;
    width: 100%;
    text-align: left;
    text-indent: 20px;
    white-space: pre-line;
    line-height: 18px;
}
.preview img {
    margin:10px auto;
    width: 100%;
    text-align: left;
    width: 100%;
    white-space: pre-line;
}
.preview .p_method{
    background: rgba(66, 66, 66, 0.5);
    color:#fff;
}
.preview .p_note{
    line-height: 24px;
    color:#666;
}
.toolBar {
    width: 600px;
    height: 80px;
    font-size: 12px;
    right: 20px;
    top: 20px;
}
.green{
    color:green;
}
.red{
    color:darkred;
}
.black{
    color:#333;
}
._black{
    color:#666;
}
.toolBar .window-title {
    color: #000000;
    text-shadow: 0 0 14px #fff;
    user-select: none;
}

/*::-moz-selection{background:transparent; color:none;}*/
/*::-webkit-selection{background:transparent; color:none;}*/
/* ::-moz-selection{background:none; color:none;}  */
/*::selection {background:transparent; color:none;}*/

.taskbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 38px;
    background-color: rgba(68, 136, 238, 0.3);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.6), inset 0 2px rgba(255, 255, 255, 0.6);
    overflow: hidden;
    z-index: 2;
}

/*******************************************/
.taskbar > div {
    margin-right: 2px;
}

.taskbar > div > img {
    width: 32px;
    height: 32px;
    margin: 2px 8px;
}

.taskbar-start {
    float: left;
    width: 48px;
    height: 36px;
    border: 1px solid transparent;
    -webkit-filter: brightness(1);
    -moz-filter: brightness(1);
    /*-ms-filter: brightness(1);*/
    -o-filter: brightness(1);
    filter: brightness(1);
    transition: all 0.1s linear;
}

.taskbar-start:hover {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    /*-ms-filter: brightness(1.2);*/
    -o-filter: brightness(1.2);
    filter: brightness(1.2);
}

.taskbar-item {
    float: left;
    width: 48px;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), inset 0 1px rgba(255, 255, 255, 0.6), inset 0 -1px rgba(255, 255, 255, 0.6), inset 1px 0 rgba(255, 255, 255, 0.6), inset -1px 0 rgba(255, 255, 255, 0.6);
    background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0) 45%),
    radial-gradient(24px 3px at bottom center, rgba(255, 255, 255, 0.6) 0%,
            rgba(255, 255, 255, 0) 100%);
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.1s linear;
}

.taskbar-item:hover {
    background-color: rgba(255, 255, 255, 0);
}

.taskbar-item:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.taskbar-item[focused=true] {
    background-color: rgba(255, 255, 255, 0.7);
}

.taskbar-item[focused=true]:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.taskbar-item:active img {
    -webkit-transform: translateX(1px) translateY(1px);
    -moz-transform: translateX(1px) translateY(1px);
    -ms-transform: translateX(1px) translateY(1px);
    -o-transform: translateX(1px) translateY(1px);
    transform: translateX(1px) translateY(1px);
}

.window {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px rgba(0, 0, 0, 0.6),
    inset 0 -1px rgba(0, 0, 0, 0.6), inset 1px 0 rgba(0, 0, 0, 0.6), inset -1px 0 rgba(0, 0, 0, 0.6), inset 0 2px rgba(255, 255, 255, 0.6), inset 0 -2px rgba(255, 255, 255, 0.6), inset 2px 0 rgba(255, 255, 255, 0.6),
    inset -2px 0 rgba(255, 255, 255, 0.6);
    background-color: rgba(68, 136, 238, 0.3);
    border-radius: 7px;
    z-index: 1;
    cursor: move;
}

.window[focused=true] {
    z-index: 9999999;
}

.window-title {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 8px;
    height: 16px;
    padding-bottom: 8px;
    line-height: 16px;
    /* text-shadow: 0 0 10px rgba(255, 255, 255, 1); */
    z-index: 1;
}

.window-title img {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.window-button {
    position: absolute;
    top: 0px;
    right: 8px;
    height: 20px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
}

.window-button div {
    float: left;
    height: 20px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.6), inset 0 -1px rgba(0, 0, 0, 0.6), inset 1px 0 rgba(0, 0, 0, 0.6), inset -1px 0 rgba(0, 0, 0, 0.6), inset 0 2px rgba(255, 255, 255, 0.3), inset 0 -2px rgba(255, 255, 255, 0.3), inset 2px 0 rgba(255, 255, 255, 0.3), inset -2px 0 rgba(255, 255, 255, 0.3);
    transition: all 0.1s linear;
}

.window-button div:hover,
.window-button div:active,
.window[focused=true] .window-button div {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.0) 55%,
    rgba(255, 255, 255, 0.0) 100%),
    radial-gradient(at center center, rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0.0) 80%);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.6), inset 0 -1px rgba(0, 0, 0, 0.6), inset 1px 0 rgba(0, 0, 0, 0.6), inset -1px 0 rgba(0, 0, 0, 0.6), inset 0 2px rgba(255, 255, 255, 0.3), inset 0 -2px rgba(255, 255, 255, 0.3), inset 2px 0 rgba(255, 255, 255, 0.3), inset -2px 0 rgba(255, 255, 255, 0.3), inset 0 -2px 5px rgba(255, 255, 255, 0.3);

}

.window:not ([focused=true] ) .window-button div {
    transition: none;
}

.window:not ([focused=true] ) .window-button div:active {
    transition: all 0.1s linear;
}

.window-button div:first-child {
    border-bottom-left-radius: 5px;
}

.window-button div:last-child {
    border-bottom-right-radius: 5px;
}

.window-button div:not(:first-child) {
    margin-left: -1px;
}

.window-button-close {
    width: 50px;
    background-color: rgba(204, 0, 0, 0);
}

.window[focused=true] .window-button-close {
    background-color: rgba(204, 0, 0, 1);
}

.window-button-close:hover,
.window[focused=true] .window-button-close:hover {
    background-color: rgba(255, 0, 0, 1);
}

.window-button-close:active,
.window[focused=true] .window-button-close:active {
    background-color: rgba(170, 0, 0, 1);
}

.window-button-minimum,
.window-button-maximum {
    width: 35px;
    background-color: rgba(68, 136, 238, 0);
}

.window[focused=true] .window-button-minimum,
.window[focused=true] .window-button-maximum {
    background-color: rgba(68, 136, 238, 0.4);
}

.window-button-minimum:hover,
.window-button-maximum:hover,
.window[focused=true] .window-button-minimum:hover,
.window[focused=true] .window-button-maximum:hover {
    background-color: rgba(0, 187, 255, 1);
}

.window-button-minimum:active,
.window-button-maximum:active,
.window[focused=true] .window-button-minimum:active,
.window[focused=true] .window-button-maximum:active {
    background-color: rgba(0, 153, 221, 1);
}

.window-content {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    opacity: 0.8;
    position: absolute;
    left: 8px;
    right: 8px;
    top: 32px;
    bottom: 8px;
    /* width:auto;
    height:auto; */
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.6), inset 0 -1px rgba(0, 0, 0, 0.6), inset 1px 0 rgba(0, 0, 0, 0.6), inset -1px 0 rgba(0, 0, 0, 0.6), inset 0 2px rgba(68, 136, 238, 0.6), inset 0 -2px rgba(68, 136, 238, 0.6), inset 2px 0 rgba(68, 136, 238, 0.6), inset -2px 0 rgba(68, 136, 238, 0.6);
    /* background-color: rgba(255, 255, 255, 1); */
    background-color: rgba(000, 000, 000, 1);
    z-index: -999;
}

/*******************************************/
.js_img_wd .window-content {
    background-color: rgba(200, 200, 200, 1);
    /* background:url(../img/js1.png) no-repeat; */
}

.js_img_wd {
    left: 40%;
    top: 90px;
    width: 410px;
    height: 640px;
}

.img_photo {
    left: 20px;
    top: 20px;
    width: 500px;
    height: 700px;
}

.js_img {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo {
    width: 200px;
    height: 80px;
    font-size: 48px;
    font-family: arial;
    font-weight: bold;
    color: #fff;
    position: absolute;
    /* border:1px dotted black; */
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
    cursor: default;
    text-shadow: 1px 2px 5px black;
}

.control_center {
    top: 3px;
    position: absolute;
    right: 1px;
    width: 300px;
    height: 99%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6),
    inset 0 1px rgba(0, 0, 0, 0.6),
    inset 0 -1px rgba(0, 0, 0, 0.6),
    inset 1px 0 rgba(0, 0, 0, 0.6),
    inset -1px 0 rgba(0, 0, 0, 0.6),
    inset 0 2px rgba(255, 255, 255, 0.6),
    inset 0 -2px rgba(255, 255, 255, 0.6),
    inset 2px 0 rgba(255, 255, 255, 0.6),
    inset -2px 0 rgba(255, 255, 255, 0.6);
    background-color: rgba(68, 136, 238, 0.3);
    overflow: hidden;
    border-radius: 7px;
    z-index: 2;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.0) 55%,
    rgba(255, 255, 255, 0.0) 100%),
    radial-gradient(at center center, rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0.0) 80%);
}

.control_center .left_menu li {
    list-style: none;
}

.control_menu {
    /* display:none; */
    position: absolute;
    z-index: 21;
    /* border:1px solid black; */
    left: 1px;
}

.left_menu {
    position: absolute;
    left: 1px;
    top: 50px;
    display: block;
    margin-left: -40px;
    border-radius: 3px;
}

.left_menu li {
    margin-bottom: 15px;
    background-color: orange;
    /* height:60px; */
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.0) 55%,
    rgba(255, 255, 255, 0.0) 100%),
    radial-gradient(at center center, rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0.0) 80%);
}

.left_menu li:hover {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    /*-ms-filter: brightness(1.2);*/
    -o-filter: brightness(1.2);
    filter: brightness(1.2);
}

.left_menu li:active img {
    -webkit-transform: translateX(1px) translateY(1px);
    -moz-transform: translateX(1px) translateY(1px);
    -ms-transform: translateX(1px) translateY(1px);
    -o-transform: translateX(1px) translateY(1px);
    transform: translateX(1px) translateY(1px);
    margin-left: 1px \0;
    margin-top: 1px \0;
}

.menu_div {

    width: 24px;
    height: 24px;
    overflow: hidden;
    border-bottom: 1px solid grey;
    padding: 2px;
    border-radius: 3px;
    left: 1px;
}

.img_menu {
    cursor: pointer;
    margin-top: 1px;
    margin-left: 1px;
    width: 703.5px;
    height: 238.5px;
}

.admin {
    position: absolute;
    left: 150px;
    top: 50px;
    margin-left: -45px;
    /* background-color:black; */
    height: 90px;
    width: 90px;
    border-radius: 50px;
    text: center;
    vertical-align: middle;
    /* filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6),
    inset 0 1px rgba(0, 0, 0, 0.6),
    inset 0 -1px rgba(0, 0, 0, 0.6),
    inset 1px 0 rgba(0, 0, 0, 0.6),
    inset -1px 0 rgba(0, 0, 0, 0.6),
    inset 0 2px rgba(255, 255, 255, 0.6),
    inset 0 -2px rgba(255, 255, 255, 0.6),
    inset 2px 0 rgba(255, 255, 255, 0.6),
    inset -2px 0 rgba(255, 255, 255, 0.6);
    background-color: rgba(68, 136, 238, 0.3);
    z-index: 5;

}

.user {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    cursor: pointer;
}

.username {
    text-shadow: 1px 2px 5px black;
    position: absolute;
    font-size: 16px;
    font-family: arial;
    top: 150px;
    height: 40px;
    /* border:1px solid black; */
    text-align: center;
    color: #D2691E;
    width: 260px;
    margin-left: 20px;
    /* margin-top:-60px; */
    z-index: 7;
}

.menu_hr {
    /* width:280px;
    margin-left:10px;
    color:grey; */
}

.ctr_head {
    position: relative;
    top: 1px;
    background-color: black;
    width: 298px;
    height: 99%;
    z-index: 3;
    margin-left: 1px;
    border-radius: 7px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.ctr_body {
    position: relative;
    /* background-color:black; */
    width: 298px;
    /* height:99%; */
    margin-top: 17px;
    z-index: 3;
    margin-left: 1px;
    border-radius: 7px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.ctr_foot {
    position: absolute;
    /* background-color:black; */
    width: 298px;
    /* height:99%; */
    z-index: 3;
    margin-left: 1px;
    border-radius: 7px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    bottom: 1px;
}

.power {
    position: absolute;
    bottom: 50px;
    left: 140px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6),
    inset 0 1px rgba(0, 0, 0, 0.6),
    inset 0 -1px rgba(0, 0, 0, 0.6),
    inset 1px 0 rgba(0, 0, 0, 0.6),
    inset -1px 0 rgba(0, 0, 0, 0.6),
    inset 0 2px rgba(255, 255, 255, 0.6),
    inset 0 -2px rgba(255, 255, 255, 0.6),
    inset 2px 0 rgba(255, 255, 255, 0.6),
    inset -2px 0 rgba(255, 255, 255, 0.6);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 45%, rgba(255, 255, 255, 0.0) 55%,
    rgba(255, 255, 255, 0.0) 100%),
    radial-gradient(at center center, rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0.0) 80%);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.6), inset 0 -1px rgba(0, 0, 0, 0.6), inset 1px 0 rgba(0, 0, 0, 0.6), inset -1px 0 rgba(0, 0, 0, 0.6), inset 0 2px rgba(255, 255, 255, 0.3), inset 0 -2px rgba(255, 255, 255, 0.3), inset 2px 0 rgba(255, 255, 255, 0.3), inset -2px 0 rgba(255, 255, 255, 0.3), inset 0 -2px 5px rgba(255, 255, 255, 0.3);
}

.power:hover {
    transition: all 0.1s linear;
    background-color: rgba(68, 136, 238, 0.3);
}

.power:active {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    /*-ms-filter: brightness(1.2);*/
    -o-filter: brightness(1.2);
    filter: brightness(1.2);
    /* -webkit-transform: translateX(1px) translateY(1px);
    -moz-transform: translateX(1px) translateY(1px);
    -ms-transform: translateX(1px) translateY(1px);
    -o-transform: translateX(1px) translateY(1px);
    transform: translateX(1px) translateY(1px); */
}

.power:active img {
    -webkit-transform: translateX(1px) translateY(1px);
    -moz-transform: translateX(1px) translateY(1px);
    -ms-transform: translateX(1px) translateY(1px);
    -o-transform: translateX(1px) translateY(1px);
    transform: translateX(1px) translateY(1px);
}