@charset "UTF-8";
html, body {
    background: rgba(6, 6, 6, 0.2);
    overflow: hidden;
    width:100%;
    height: 100%;
    position: fixed;
    left:0;
    top:0;
    user-select: none;
}

.doc {
    position: relative;
    width: auto;
    height: 200px;
    line-height: 100%;
    background: rgba(66, 213, 213, 1);
    color: #fff;
}

.flex, .flexH {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*border:1px solid #fff;*/
}

a {
    text-shadow: 1px 1px #666;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: Arial;
}

.flex1 {
    box-shadow: 0px 0px 1px rgba(33, 33, 33, 0.8);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.h100_p {
    line-height: 100%;
    height: 100px;
}

.h100 {
    line-height: 100px;
    height: 100px;
}

.h200 {
    line-height: 200px;
    height: 200px;
}

.h400 {
    line-height: 400px;
    height: 400px;
}

.w200 {
    width: 200px;
    min-width: 200px;
}

.w400 {
    width: 400px;
    min-width: 400px;
}

.bk-orange {
    background-color: orange;
}

.bk-blue {
    background-color: deepskyblue;
}

.bk-green {
    background-color: lawngreen;
}
.bk-red{
    background-color: crimson;
}

.swiper-container {
    width:100%;
    margin-top:120px;
    background: rgba(6,6,6,0.6);
    /*margin: 120px auto 0 auto;*/
}

.swiper-wrapper {
    width: auto;
    position: relative;
}

.swiper-slide {
    width: auto;
    position: relative;
}
