@charset "UTF-8";
*{
    font-family: Arial;
}
.index {
    height: 100vh;
    line-height: 100vh;
    background: rgba(66,66,66,0.8);
    color: #fff;
}

.logo {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid orange;
    margin-bottom: -16px;
}